h1 #{current_user.email}のカレンダー
= button_to 'ログアウト', destroy_user_session_path, method: :delete
= link_to "Change your password", edit_user_registration_path
= button_to '退会する', user_registration_path, method: :delete
#app(data-user-id="#{current_user.id}")
