.container {
  max-width: 768px;
}
.content-center {
  text-align: center;
}
.float-right {
  float: right;
}
.header {
  background-color: cornflowerblue;
}
.login-button {
  width: 180px;
}
.alignment-button {
  width: 250px;
}
.update-button {
  width: 180px;
}
em {
  font-style: normal;
}
.text-link {
  background: none;
  border: none;
  color: #0e6dfe;
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
}
